/* @theme su8ru */

@import 'default';
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+JP&display=swap');

h1 {
  color: #63767e;
}

section::after {
  content: attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total);
}

.columns {
  color: #272a2c;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

section {
  font-family: Inter, 'Noto Sans JP', sans-serif !important;
  --color-accent-fg: #007ab0;
}

pre {
  font-size: 0.7rem;
}

img {
  background: none !important;
}
